<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <title>Help page</title>
</head>
<body>

    {{>header}}
    
    <p>Contacts : {{name}} Email: {{email}} Phone: {{phone}}</p>

    {{>footer}}
</body>
</html>
